body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background-image: url(https://s1.1zoom.me/big3/935/USA_Evening_Houses_Skyscrapers_Manhattan_New_York_520779_6048x4752.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
